In [1]:
!pip install pandas ## Al poner un signo "!" al incio de una celda de código se pueden ejecutar comandos de consola

Collecting pandas
  Using cached pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.1.0-cp311-cp311-macosx_13_0_arm64.whl
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pedroromeromartinez/anaconda3/envs/mls/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/pedroromeromartinez/anaconda3/envs/mls/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [2]:
import pandas as pd ## Importamos la librería de pandas de python

In [3]:
df = pd.read_csv('./all_perth_310121.csv') ## Cargamos los datos del dataset en un dataframe
df.head() ## Mostramos las primeras filas del dataframe

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [4]:
import numpy as np ## Importamos la librería numpy

In [5]:
X = np.array(df['LAND_AREA']) ## Definimos la variable dependiente
Y = np.array(df['PRICE']) ## Definimos la variable independiente

In [6]:
X.mean() ## Esta función se usa para obtener la media de un array de numpy

np.float64(2740.6440159258377)

In [7]:
X*Y ## Con este operador hacemos la multiplicación de los arrays entrada por entrada

array([339000000, 128115000, 206353000, ..., 111447000, 134815000,
        87320000])

In [8]:
X.sum() ## Esta función sirve para sumar todas las entradas de un array de numpy

np.int64(92239115)

In [10]:
b0 = ((X-X.mean())*(Y-Y.mean())).sum()/((X-X.mean())*(X-X.mean())).sum() ## Calculamos la pendiente de nuestro modelo lineal simpre como lo vimos en clase
b0

np.float64(1.211882165316848)

In [11]:
b1 = Y.mean() - b0*X.mean() ## Calculamos la ordenada al origen como lo dictan las ecuaciones normales
b1

np.float64(633750.668189532)